*{
  font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(
    to bottom, #000000, #010904, #010b04, #033d16
  ); 
}

.menu{
  position: fixed;
  height: 64px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.689);
  backdrop-filter: blur(3px);
  padding-bottom: 20px;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 3px;
  height: 64px;
  width: 100%;
  position: fixed;
}

#logo{
  padding-top: 35px;
  display: flex;
  color: #0FD90F;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  transition: color 0.5s ease;
}

#logo:visited{
  color: #0FD90F;
}

#logo:hover{
  color: white;
}

#logo>span{
  color: #09A424;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

header span{
  color: #ffffff;
  font-size: 16.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.5s ease;
}

header span:hover{
  color: #0FD90F;
}

.paginas{
  display: flex;;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  padding-top: 35px;
}

#link-pags{
  text-decoration: none;
  padding-left: 18px;
}

.separator img{
  width: 100%;
  transform: rotate(180deg);
}

.intro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 210px;
  align-items: center;
}

.intro h1{
  color: #FFF;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro span{
  color: #0FD90F;
}

.saudacao h2{
  color: #25A025;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -40px;
}

.imagem-intro img{
  width: 410px;
  height: 410px;
}

.sobre{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 210px;
  padding-bottom: 210px;
  align-items: center;
}

.imagem-sobre img{
  width: 400px;
  height: 400px;
}

.sobre h2{
  color: #09A424;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 30px;
  padding-right: 30px;
}

.sobre span{
  color: #0FD90F;
}

.sobre p{
  color: #FFF;
  text-align: center;
  font-size: 15.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sobre h1{
  font-size: 27px;
  font-weight: normal;
}

.sobre-titulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobre-titulo a{
  width: 129px;
  height: 33px;
}

.btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 129px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 19.5px;
  background: #218B21;
  box-shadow: 0px 4px 1px 0px #FFF;
  cursor: pointer;
  transition: color 0.5s ease, width 0.5s ease, height 0.5s ease;
  text-decoration: none;
}

.btn:hover{
  width: 160;
  height: 40px;
  border-radius: 19.5px;
  background: #218B21;
  box-shadow: 0px 4px 1px 0px #FFF;
}

.btn img{
  width: 15px;
  height: 20px;
  color: white;
  padding-left: 19px;
}

.btn h2{
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-left: 10px;
}

.experiencia{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 210px;
  align-items: center;
}

.experiencia h2{
  color: #09A424;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.experiencia span{
  color: #0FD90F;
}

.experiencia h3{
  color: white;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-top: -20px;
}

.habilidades{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 210px;
  align-items: flex-start;
  row-gap: 40px;
  justify-content: center;
}

.btn2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 53px;
  border-radius: 30px;
  background: #218B21;
  cursor: pointer;
  transition: background-color 0.5s ease, width 0.5s ease, height 0.5s ease;
  text-decoration: none;
  margin-left: 20px;
}

.btn2 img{
  width: 37px;
  height: 37px;
  color: white;
}

.btn2 h2{
  color: #FFF;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-left: 10px;
}

.btn2:hover{
  background: #087c08;
}

.meus-projetos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 210px;
  padding-bottom: 210px;
  align-items: center;
}

.meus-projetos h2{
  color: #09A424;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projetos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 210px;
  padding-bottom: 210px;
  align-items: center;
}